<nav class="navbar navbar-dark bg-dark disable-selection">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">REST Pilot</span>
  </div>
</nav>
<div class="container mt-5 disable-selection" *ngIf="!loading">
  <div class="row">
    <div class="col-8">
      <h2>Request</h2>
      <form [formGroup]="requestForm" (submit)="onSubmit()">
        <div class="mb-3">
          <label for="endPoint" class="form-label">HostAddress</label>
          <input
            type="text"
            class="form-control"
            id="endPoint"
            placeholder="https://example.com"
            formControlName="hostAddress"
            (change)="prepareEndpoint()"
          />
        </div>
        <label for="basic-url" class="form-label">Endpoint</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">{{
            requestForm.value.hostAddress ? requestForm.value.hostAddress : "/"
          }}</span>
          <input
            type="text"
            class="form-control"
            id="basic-url"
            aria-describedby="basic-addon3"
            formControlName="endpoint"
            (change)="prepareEndpoint()"
          />
        </div>
        <label for="requestMethod" class="form-label">Request Method</label>
        <div class="mb-3">
          <select
            id="requestMethod"
            class="form-select mb-3"
            aria-label="Default select example"
            formControlName="method"
          >
            <option value="get" selected>GET</option>
            <option value="post">POST</option>
            <option value="put">PUT</option>
            <option value="delete">DELETE</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="requestHeaders" class="form-label">Request Headers</label>
          <button class="btn btn-primary m-2" (click)="formatHeadersAndBody('headers', $event)">Format</button>
          <textarea
            class="form-control"
            id="requestHeaders"
            rows="3"
            formControlName="headers"
            [(ngModel)] = "requestHeaders"
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="requestBody" class="form-label">Request Body</label>
          <button class="btn btn-primary m-2" (click)="formatHeadersAndBody('body', $event)">Format</button>
          <textarea
            class="form-control"
            id="requestBody"
            rows="3"
            formControlName="body"
            [(ngModel)] = "requestBody"
          ></textarea>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Request</button>
        </div>
      </form>
    </div>
    <div class="col-4">
      <h2>Response</h2>
      <div class="alert alert-success" role="alert" *ngIf="response">
        Request made successfully
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="error">
        {{ error }}
      </div>
      <div class="mb-3" *ngIf="response">
        <textarea class="form-control" rows="6" [(ngModel)] = "response" disabled>
          {{ response | json }}
        </textarea>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5" *ngIf="loading">
  <div class="row">
    <div class="col-12  d-flex align-items-center justify-content-center">
      <div class="loader"></div>
    </div>
  </div>
</div>